header {
    background-color: lightgrey;
}

#minutes {
    color: #397386;
    font-family: 'Silkscreen', cursive;
}

h2 {
    color: rgb(177, 211, 248);
}

h3, h4 {
    color: hsl(25, 51%, 71%);
}

footer {
    color: #7EA;
    background-color: #eccef1;
}

#survey {
    color: hsla(300, 100%, 25%, 0.4);
    background-color: #f5c1e2;
}

#creds {
    color: rgba(63, 53, 255, 0.8);
}

button:active {
    color: hsla(26, 94%, 53%, 0.4);
}

a:hover {
    color: red;
}

#ocean {
    text-decoration: blue wavy underline;
    text-align: center;
}

