header {
    background-color: lightgrey;
}

#minutes {
    color: hsl(195, 40%, 37%);
    font-family: 'Silkscreen', cursive;
    font-size: 36pt;
}

h2 {
    color: rgb(8, 115, 228);
}

h3, h4 {
    color: hsl(25, 51%, 71%);
}

footer {
    color: rgb(7, 86, 41);
    background-color: #eccef1;
    min-width: 170px;
    max-width: 1400px;
}

#survey {
    color: hsla(300, 100%, 25%, 0.4);
    background-color: #f5c1e2;
    width: 50vw;
}

#creds {
    color: rgba(63, 53, 255, 0.8);
}

button:active {
    color: hsla(26, 94%, 53%, 0.4);
}

button {
    width: 150px;
    height: 40px;
}

a:hover {
    color: red;
}

#ocean {
    text-decoration: blue wavy underline;
    text-align: center;
}

ol, ul {
    font-size: 1.5rem;
}

li {
    font-size: 0.75em;
}

#surveytitle {
    border-style: double;
    border-color: #660a5d;
    border-radius: 10px;
    border-width: 2px;

    margin-top: 0.5em;
    margin-bottom: 0.5em;
    margin-left: 0.5em;
    margin-right: 0.5em;

    padding-top: 0.1em;
    padding-bottom: 0.1em;
    padding-left: 0.1em;
    padding-right: 0.1em;
}

#surveytitlediv {
    position: static;
}

#oceanvid {
    border-top: 3px solid blue;
    border-bottom: 3px solid blue;
    border-left: 3px solid blue;
    border-right: 3px solid blue;

    padding: 0.25em 0.5em 0.25em 0.5em;

    margin: 0.5em 0.5em 0.5em 0.5em;

    position: relative;
    left: 100px;
}

#chart {
    border: 5px dashed navy;
}

#surveydiv {
    width: 200px;
    text-align: center;
    margin: auto;
}

#welcome {
    display: inline;
    text-align: right;
    position: sticky;
    top: 10px;
}

#attend, #agenda {
    display: inline-block;
    padding:2em 2em 2em 2em
}

#secret {
    display: none;
}

